<!DOCTYPE html>
<html>
	<head>
	  <title><%= full_title(yield(:title)) %> </title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	  <%= render 'layouts/partials/shim'%>
	</head>
	<body>
		<%= render 'layouts/partials/header'%>
		<% flash.each do |key, value| %>
			<%= content_tag :div, value, class:"alert alert-#{key}"%>
		<% end %>
		<div class="container">
			<%= yield %>
		</div>
		<%= render 'layouts/partials/footer'%>
		<%= debug(params) if Rails.env.development? %>
	</body>
</html>
